.footer {
  background-color: #0f1b2b; /* tom escuro */
  color: #ffffff;
  padding: 2.5rem 1.25rem 1.25rem 1.25rem;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
}

.footer-column {
  flex: 1 1 12.5rem;
  min-width: 12.5rem;
}

.footer-logo {
    display: flex;
    align-items: center; /* alinha verticalmente imagem e texto */
    gap: 0.625rem; /* espaço entre a imagem e o texto */
    margin-bottom: 0.938rem;
}

.footer-logo img {
    max-width: 5rem; /* mantém a imagem proporcional */
    height: auto;
}

.logo-text h3 {
    margin: 0;
    font-size: 1.125rem;
    color: #ffffff;
}

.logo-text span {
    font-size: 0.875rem;
    color: #bbbbbb;
}

.footer-column h4 {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  color: #ffffff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #a0002a; /* cor bordô para hover */
}

.footer-bottom {
  text-align: center;
  margin-top: 1.875rem;
  font-size: 0.875rem;
  color: #888888;
  border-top: 0.063rem solid #222f44;
  padding-top: 0.938rem;
}
