.planos-section {
  width: 100%;
  background-color: #f3f3f3;
  text-align: center;
  padding: 2.5rem 0;
  box-sizing: border-box;
}

.linha {
  height: 0.188rem;
  background-color: #a0002a;
  border-radius: 0.125rem;
  margin: 0 auto;
  width: 60%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem 0;
}

.container p {
  font-size: 1.3rem;
  letter-spacing: 0.063rem;
  color: #a0002a;
  text-transform: uppercase;
  margin: 0.938rem 0;
}

.planos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  margin-top: 0.938rem;
  flex-wrap: wrap; /* adapta as imagens em telas menores */
}

.planos img {
  max-width: 10.625rem;
  height: auto;
  padding: 0.625rem;
  filter: saturate(1.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.planos img:hover {
  transform: scale(1.05);
  filter: saturate(1.5);
}

/* --- Responsividade --- */
@media (max-width: 768px) {
  .planos-section {
    padding: 2.86rem;
    box-sizing: content-box;
  }

  .linha {
    width: 80%;
  }

  .planos {
    gap: 1.5rem;
  }

  .planos img {
    max-width: 8rem;
  }
}

@media (max-width: 480px) {
  .container p {
    font-size: 1.1rem;
  }

  .linha {
    width: 90%;
  }

  .planos img {
    max-width: 7rem;
  }
}
