<header>
  <div class="retangulo-gradiente">
    <a href="" class="caixa_texto">Sobre</a>
    <a href="" class="caixa_texto">Serviços</a>
    <a href="" class="caixa_texto">Contatos</a>
    <a href="" class="caixa_texto endereco">Endereço</a>
  </div>
  <div class="cabecalho">
    <h1 class="titulo_1">Sorria com Confiança</h1>
    <h2 class="titulo_2">
      Conheça a Dra. Polliana Paiva, especialista em odontologia preventiva e
      estética. Seu sorriso merece cuidado e atenção profissional.
    </h2>
  </div>
</header>
