<header>
  <div class="cabecalho">
    <div class="nome-cabecalho">
      <img src="/assets/logo.png" alt="">
      <div class="texto-nome">
        <a href="" class="texto-bordo">Dra. Polliana Paiva</a>
        <a href="" class="cargo">Cirurgiã-dentista</a>
      </div>
    </div>
    <div class="abas-cabecalho">
      <a href="" class="caixa_texto">Início</a>
      <a href="#servico" class="caixa_texto">Serviços</a>
      <a href="" class="caixa_texto">Sobre</a>
      <a href="#contato" class="caixa_texto">Contatos</a>
    </div>
    <div class="agenda">
      <a href="#contato" class="agenda-botao">
        <i class="fa-regular fa-calendar"></i> Agendar Consulta
      </a>
    </div>
  </div>
  <!--
  <div class="cabecalho">
    <h1 class="titulo_1">Sorria com Confiança</h1>
    <h2 class="titulo_2">
      Conheça a Dra. Polliana Paiva, especialista em odontologia preventiva e
      estética. Seu sorriso merece cuidado e atenção profissional.
    </h2>
  </div>
  -->
</header>
