<div class="hero-page">
    <div class="inicio">
        <section >
           <h1>Sorria com Confiança</h1>
           <h2>Conheça a Dra. Polliana Paiva, especialista em odontologia preventiva e estética. Seu sorriso merece cuidado e atenção profissional.
           </h2>
           <div class="container-botao">
            <a href="#contato" class="botao">
                <i class="fa-regular fa-calendar"></i> Agendar Consulta
            </a>

             <a href="" class="botao">
                <i class="fa-regular fa-calendar"></i> Sobre mim
            </a>
            </div>
       </section>
       <img src="assets/hero-page.jpg" alt="">
    </div>
</div>
