<div id="contato" class="contatos-section">
    <div class="infos">
        <section class="contatos-texto">
            <p class="estilo-botao">Entre em contato</p>
            <h1>Agende Uma Consulta</h1>
            <h3>Pronta para cuidar do seu sorriso. Entre em contato e agende sua avaliação.</h3>
        </section>
        <div class="contatos-info">
            <div class="card">
                    <img src="/assets/whatsapp.png" alt="">
                <div class="card-texto">
                    <p>Whatsapp</p>
                    <h2>(37) 9865-4760</h2>
                </div>
            </div>
            <div class="card" onclick="window.open('https://www.instagram.com/drapollianapaiva/', '_blank')">
                    <img src="/assets/instagram.png" alt="">
                <div class="card-texto">
                    <p>Instagram</p>
                    <h2>&#64;drapollianapaiva</h2>
                </div>
            </div>
            <div class="card">
                    <img src="/assets/relogio.png" alt="">
                <div class="card-texto">
                    <p>Horário de atendimento</p>
                    <h2>Segunda a Sexta: 8h às 18h</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="mensagem">
        <div class="mensagem-form">
            <h2>Envie uma Mensagem</h2>
            <form>
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome">

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="seu@email.com">

                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" name="telefone" placeholder="(DDD) 99999-9999">

                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem" name="mensagem" placeholder="Descreva como podemos ajudá-lo..."></textarea>

                <button type="submit">Enviar Mensagem</button>
            </form>
        </div>
    </div>
</div>
