 .contatos-section {
    display: flex;
    background-color: #a0002a;
    color: #fff;
    flex-direction: column; /* muda para row em telas maiores */
    gap: 1.875rem;
    justify-content: center;
    padding: 2.5rem 1.25rem;
}

@media (min-width: 900px) {
    .contatos-section {
        flex-direction: row;
        align-items: flex-start;
    }
    .contatos-texto, .contatos-info, .mensagem-form {
        flex: 1;
    }
}

.contatos-texto h1, h3{
   font-weight: lighter;
}

.contatos-info{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

}

.estilo-botao{
   margin: 0.625rem;
  text-align: center;
  width: 10rem;
  padding: 0.625rem 0;
  border: none;
  border-radius: 3.125rem; /* Borda oval */
  background-color: #c96781; /* Bordô escuro */
  color: #ffffff; /* Texto branco */
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card{
   display: flex;
   align-items: center;
   gap: 1.563rem;
   margin: 0.625rem;
   cursor: pointer; /* indica que é clicável */
   transition: transform 0.3s ease, box-shadow 0.3s ease; /* suaviza a animação */
}


/* efeito ao passar o mouse */
.card:hover {
  transform: translateX(0.625rem) ; /* move 10px para a direita */
  box-shadow: 0 0.25rem 0.938rem rgba(0,0,0,0.2); /* dá um leve destaque */
}

.card img{
   width: 2.188rem;
   border-radius: 16%;
   padding: 0.625rem;
   background-color: #c96781;

}

.card-texto{
   font-size: medium;
   font-weight: normal;
}

.mensagem-form {
    width: 31.25rem;
    background-color: #ffffff;
    color: #000;
    padding: 1.25rem;
    border-radius: 0.75rem;
    margin: 1.25rem;
    max-width: 37.5rem;
}

.mensagem-form h2 {
   font-weight: lighter;
   color: #3f3f3f;
    margin-bottom: 1.25rem;
}

.mensagem-form label{
   color: #313131;
   font-weight: lighter;
   font-size: 0.8rem;
}

.mensagem-form form {
    display: flex;
    flex-direction: column;
    gap: 0.938rem;
}

.mensagem-form input,
.mensagem-form textarea {
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    width: 95%;
}

.mensagem-form textarea {
    resize: vertical;
    min-height: 6.25rem;
}

.mensagem-form button {
    background-color: #a0002a;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.mensagem-form button:hover {
    background-color: #c96781;
}
